
.partial-bg {
  background-image: linear-gradient(90deg, #f4f4f4 50%, #0000cd 50%);
}

li::marker {
  content: "⦿ ";
  color: #0000cd;
}

li li::marker {
  content: "• ";
}

li li li::marker {
  content: "⚬ ";
}

pre {
  max-height: 600px;
  overflow-y: auto;
  background-color: inherit;
}

.callout-note {
  border-left: 5px solid #0d6efd;
  background-color: #e7f1ff;
}

.callout-tip {
  border-left: 5px solid #198754;
  background-color: #e6f4ea;
}

.callout-warning {
  border-left: 5px solid #dc3545;
  background-color: #fdecea;
}

.footnote {
  font-size: 0.7em;
  color: #f4f4f4;
  position: absolute;
  bottom: 14px;
  left: 12px;
}

